.card-container {
  display: flex;
  flex-direction: column;
  background-color: #d6b8e3;
  border: 0.3rem solid #ef5777;
  border-radius: 2rem;
  padding: 1.4rem;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
