.App {
  text-align: center;
}
h1 {
  font-family: "Calistoga", cursive;
  font-size: 72px;
  color: #f3869d;
}
h2 {
  font-family: "Bowlby One SC", cursive;
  color: #8e44ad;
  text-shadow: 3px 3px 0 #f3869d;
}
